*{
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

.corpo{
    background-color: rgb(160, 197, 197);
    display: flex;

}

.menu .legenda{
    /*background-color: aqua;*/
    margin: 1.50rem .80rem;
    width: 20rem;
}

.menu .legenda h3{
    font-size: 1.80rem;
}

.vertical{
    /*background-color: #FFFFFF;*/
    background-color: #FFFFFF;
    width: 18rem;
    height:52rem;
}
/*------------------------------------------*/
.topo{
    display: flex;
    background-color: #629FAC;
    width: 85rem;
    height: 4rem;
}

.elementos{
   /* background-color: #bbb951;*/
    width: 17rem;
    display: flex;
    position: absolute;
    right: 0;
    margin: 1rem 1rem;
}
.top_icones{
   /* background-color: #11f11c;*/
    width: 5rem;
    margin: 0rem 2rem;
}

.top_icones button{
    margin-right: 5rem;
    background-color: #DC0000;
    border: none;
    width: 5rem;
    height: 2rem;
    
    border-radius:  2rem;
    color: rgb(223, 223, 223);
}

.top_p{
  /* background-color: aqua;*/
    width: 7rem;
    text-align: center;
    padding: .25rem 0rem;
   

}

.top_p h3{
    color: white;
    font-size: 1.30rem;
}
/*
.topo .top_icones{
    display: flex;
   
    width: 20rem;
    margin-left: 70rem;
    margin-top: .82rem;
    color: white;
}

.topo .top_p{
    background-color: #DC0000;
    font-size: 1.5rem;
    margin-right: 4rem;
    width: 5rem;
}

.topo .top_icones{
    
    background-color: aquamarine;
}
.topo .top_icones button{
    margin-right: 5rem;
    background-color: #DC0000;
    border: none;
    width: 5rem;
    height: 2rem;
    
    border-radius:  2rem;
    color: rgb(223, 223, 223);
}
*/
.corpo_conteudo{
   background-color: #D6C8C8;
   width: 100%;
   height:48rem;
}

.conteudo{
    display: flex;
}


.agendas{
    background-color: #FBEFEF;
    margin: 2rem 2rem;
    width: 50rem;
    height: 44rem;
}

.agendas .pesquisa{
    background-color: #FFFBFB;
    height: 2rem;
    width: 45rem;
    margin-left: 2rem;
    align-items: center;
    border-radius: 3rem;
    border: solid black .10rem;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    display: flex;
}

.agendas .pesquisa input{
    margin-left: 1rem;
    border: none;
    font-size: 1.10rem;
    margin-left: 1rem;
    outline: none;
    width: 42rem;
}

.agendas .titulo{
    display: flex;
    width: 20rem;
    margin: 2rem 0rem;
    justify-content: center;   
    padding-left: 2rem;
}

.agendas .titulo h1{
    font-size: 1.80rem;
}

.calendario{
    background-color: white;
    width: 25rem;
    height: 15rem;
    margin-top: 3.55rem;
}


.estatistica{
    background-color: white;
    width: 25rem;
    height: 15rem;
    margin-top: 3.55rem;
}

.agendas .botao{
    margin: 2rem 0rem;
    display: flex;
    height: 3rem;
    justify-content: center;
    /*justify-content: center;*/
   
}

.agendas .botao .cadastrar{
    margin-left: 2rem;
}

.agendas .botao .cadastrar button{
    background-color: #387E76;
    border: none;
    width: 5.50rem;
    height: 3rem;
    border-radius:  .50rem;
    color: rgb(223, 223, 223);
    font-size: 1rem;
}

.agendas .botao .deletar button{
    background-color: #DC0000;
    border: none;
    width: 5.50rem;
    height: 3rem;
    border-radius:  .50rem;
    color: rgb(223, 223, 223);
    font-size: 1rem;
}

.agendas .botao .cancelar button{
    background-color: #918307;
    border: none;
    width: 5.50rem;
    height: 3rem;
    border-radius:  .50rem;
    color: rgb(223, 223, 223);
    font-size: 1rem;
}

.agendas .botao .deletar{
    margin-left: 5rem;
}

.agendas .botao .cancelar{
    margin-left: 5rem;
}

/*---------------------------------*/

.agendas .agendamento{
    background-color: #E8E0E0;
    display: flex;
    justify-content: center;
    width: 39rem;
    height: 2.35rem;
    margin: 2.50rem 4.50rem;
    border-radius: 3.50rem;
}

/*icone de agendamentos */
.agendas .agendamento .presenca{ 
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #DC0000;
    margin: .75rem .85rem;
  /*  margin-right: 22rem;
    margin-top: .75rem;*/
}

.agendas .agendamento .dados_agendas{
   /* background-color: #629FAC;*/
    display: flex;
    width: 37rem;
}

.agendas .agendamento .dados_agendas .dados{
    display: flex;
  /*  background-color: #DC0000;*/
    width: 100%;
}

.agendas .agendamento .dados_agendas .dados h4{
    margin: .55rem .15rem ;
    width: 7rem;
    text-align: center;
   /* background-color: aqua;*/
}

.agendas .agendamento .dados_agendas .dados a{
    background-color: #629FAC;
    width: 3.80rem;
    margin: .25rem 1.75rem ;
    border-radius: .25rem;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    padding-top: .25rem;
}

.agendas .agendamento .dados_agendas .dados input{
    background-color: rgb(44, 126, 98);
    margin: 0rem 2rem ;
}